*{
    margin: 0;
    font-size: 16;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Helvetica', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-image: url('../images/girljumping.png');
    background-size: 2150px;
    background-repeat: repeat;
    background-position: top;
}

.navbar {
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-around;
    background: transparent;
    align-items: center;


    z-index: 1000;
    /*box-shadow: 0 3px 5px #0004;*/
}

#logo {
    height: 40px;
    z-index: 100;
    padding-top: 2px;
}

.navlist {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navlinks {
    text-decoration: none;
    color:#494F51;
    font-size: 18px;

    font-weight: 600;
    margin-left: 45px;
    transition: 0.2s ease-in;
}

.navlinks:hover {
    color: #338FB8;
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    /*background-image: url('../images/girljumping.png');*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.herocontent {
    position: absolute;
    z-index: 25;
    top: 10%;
    text-align: left;
    color: #494F51;
    font-size: 45px;
    margin-right: 23%;
}

.herocontent h1 {
    font-size: 95px;
    font-family: 'Helvetica', sans-serif;
    z-index: 30;
}

.herocontent p {
    padding-top: 15px;
    font-size: 35px;
    font-weight: 500;
    z-index: 30;
}

.topbtn {
    border:none;
    color: #fff;
    background-color: #338FB8;
    margin-top: 36px;
    padding: 20px 32px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #0005;
    font-weight: 600;
    transition: .2s ease-in;
    z-index: 30;
}
.topbtn:hover {
    background-color: #245C81;
    margin-top: 34px;
}
#about-locate {
    position: absolute;
    display: block;
    top: 91.5vh;
    right: 0;
    bottom: 0;
    left: 0;
}

.mobiletitle {
    display: none;
}

.about {
    position: relative;
    display: flex;
    min-height: 10vh;
    vertical-align: middle;
    justify-content: space-around;
    z-index: 39;
    margin: 0;
    background-color: #fff;
}



.about div h2 {
    padding-top: 10px;
    color: #494F51;
    font-size: 56px;
    text-align: left;
    margin-left: -20%;
}

.group {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 80%;
    max-width: 1400px;
}

.aboutcont {
    text-align: left;
    width: 50%;
    padding: 60px 30px;
    color: #494F51;
    font-size: 20px;
    align-content: right;
}
.aboutcont p {
    padding-top: 20%;
    text-align: left;
    justify-content: center;
    margin-left: 0%;
    width: 90%;
}
.aboutcont .secondp {
    margin-left: 20%;
    padding-top: 20%;
}
.mockup {
    height: 100vh;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
.icon{
    padding-bottom: 40px;
    filter: invert(92%) sepia(24%) saturate(128%) hue-rotate(128deg) brightness(96%) contrast(87%);
}

/* CEO quote */
.mission {
    position: relative;
    display: flex;
    min-height: 30vh;
    justify-content: space-around;
    z-index: 39;
    vertical-align: middle;
    margin: 0;
    background-image: url("/images/quotebackground.png");
    background-position-y: 60vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.missiongroup {
    position: relative;
    display: flex;
    z-index: 39;
    padding: 50px 0px;
    width: 50%;
    min-width: 700px;
    margin: auto;
    top: 50%;
}

.ceopic {
    border-radius: 50%;
    max-height: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.missioncont {
    margin: auto;
    padding-left: 60px;
    color: #fff;
    font-size: 18px;
}
.quote {
    font-size: 29px;
    padding-bottom: 12px;
}





#how-locate {
    position: absolute;
    display: block;
    top: 181.4vh;
    right: 0;
    bottom: 0;
    left: 0;
}

.how {
    height: 100vh;
    background-color: #cde4e3BB;
    z-index: 40;
    color: #b16e5d;
    text-shadow: 1px 1px 2px #0003;
}
.how h2 {
    padding-top: 50px;
    color: #b16e5d;
    font-size: 50px;
    text-align: center;
}

.howcont strong {
    width: 85%;
    max-width: 1400px;
    font-size: 25px;
    margin: auto;
}

.howcont {
    padding-top: 40px;
    width: 85%;
    max-width: 1200px;
    margin: auto;
    align-content: center;
}

.intercont {
    display: flex;
    font-size: 18px;
}

.howimage {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #0005;
    margin-left: 50px;
}

/* Price Comparison */

.pricing {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: url("/images/girljumping.png");
    background-size: 3000px;
    min-height: 10vh;
  }
.pricing h2 {
    padding-top: 100px;
    font-size: 48px;
    color: #494F51;

}
.price-comparison {
    padding-top: 120px;
    padding-bottom: 160px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .price-column {
    background-color: white;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 300px;
    border-radius: 8px;
    max-height: 500px;
    color: #494F51;
  }
  
  .price-column.popular {
    position: relative;
    background-color: #338FB8;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 320px;
    max-height: 550px;
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    padding-bottom: 9.5rem;
    margin-bottom: -1.5rem; 
  }
  
  .price-column:first-child {
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
  }
  
  
  .price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .price {
    font-size: 3.5rem;
    display: flex;
  }
  
  .dollar-sign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
  }
  
  .per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .plan-name {

    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .price-column.popular .divider {
    background-color: rgba(255, 255, 255, .2);
  }
  
  .feature {
    display: flex;
    align-items: center;
    margin: .5rem;
  }
  
  .feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
  }
  
  .feature.inactive {
    color: #999;
    text-decoration-line: line-through;
  }

/*Contact Form */
.contact {
    display:block;
    background-color: #494F51;
}

.fcf-body {
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #494F51;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 0.25rem;
    max-width: 60%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-h3 {
    font-size: 56px;
    text-align: center;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #245C81;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    margin: auto;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}


.fcf-btn-primary {
    color: #fff;
    background-color: #338FB8;
    border-color: #338FB8;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #245C81;
    border-color: #245C81;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 200px;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
 
/* Footer */
footer {
    height: 40px;
    background-color: #494F51;
    color: #fff;
    text-align: center;
}
footer p {
    margin: auto;
    font-size: 18px;
}









@media (max-width: 1920px) {
    body {
        background-size: 1920px;
    }
}

@media (max-width: 768px) {

    body {
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .navlist {
        display: none;
    }

    .hero {
        min-height: 500px;
        width: 100%;
        justify-content: center;
    }

    .herocontent {
        position: absolute;
        z-index: 25;
        top: 15%;
        text-align: center;
        color: #495a5f;
        font-size: 45px;
        justify-content: center;
        margin-right: 0;
        padding-bottom: 30px;
    }
    
    .herocontent h1 {
        font-size: 55px;
        font-family: 'Helvetica', sans-serif;
        z-index: 30;
    }
    
    .herocontent p {
        padding-top: 10px;
        font-size: 23px;
        font-weight: 500;
        z-index: 30;
    }
    
    .topbtn {
        border:none;
        color: #fff;
        background-color: #338FB8;
        margin: 36px;
        padding: 20px 28px;
        font-size: 22px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 2px 2px 4px #0005;
        font-weight: 600;
        transition: .2s ease-in;
        z-index: 30;
    }
    .topbtn:hover {
        background-color: #245C81;
        margin: 34px;
    }

    
    .text {
        padding-bottom: 80px;
    }
    .about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 39;
        margin: auto;
        background-color: #fff;
        min-height: 12rem;
    }
    .mobiletitle {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0;
        font-size: 50px;
        color: #494F51;
        text-align: center
    }
    .aboutcont {
        padding: 0;
    }

    .about div h2 {

        display: none;
    }
    
    .mockup {
        order: 2;
        padding: 0;
        padding-bottom: 0px;
        height: 500px;
        display: block;
    }
    .aboutcont{
        padding-top: 0;
    }
    .aboutcont p {
        margin: 0;
        padding-top: 0;
        text-align: center;
        width: 100%;
    }
    .aboutcont .secondp {
        margin: 0;
        text-align: center;
    }


    .group {
        display: block;
        justify-content: center;
        margin: auto;
        width: 100%;
        max-width: 1400px;
    }
    .aboutcont {
        text-align: center;
        width: 95%;
        padding: 60px 30px 0px 30px;
        font-size: 18px;
    }

    .mission {
        position: relative;
        display: block;
        min-height: 30vh;
        z-index: 39;
        margin: 0;
    }
    
    .missiongroup {
        display: block;
        z-index: 39;
        padding: 60px 0px;
        min-width: 0px;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .missioncont {
        display: block;
        margin: auto;
        padding-left: 0px;
        padding-top: 20px;
        width: 100%;
        color: #fff;
        font-size: 18px;
    }
    .quote {
        font-size: 29px;
        padding-bottom: 12px;
    }
    
    
    #how-locate {
        position: absolute;
        display: block;
        top: 165rem;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .how {
        position: relative;
        display: block;
        justify-content: center;
        height: 133rem;
        background-color: #cde4e3BB;
        z-index: 40;
        color: #b16e5d;
        text-shadow: 1px 1px 2px #0003;
        text-align: center;
    }
    .how h2 {
        padding-top: 50px;
        color: #b16e5d;
        font-size: 50px;
        text-align: center;
    }
    
    .howcont strong {

        max-width: 1400px;
        font-size: 25px;
        margin: auto;
        line-height: 70px;
    }
    
    .howcont {
        padding-top: 40px;

        max-width: 1200px;
        margin: auto;
        align-content: center;
        justify-content: center;
    }
    
    .intercont {
        display: block;
        font-size: 18px;
    }
    
    .howimage {
        height: 250px;
        width: 400px;
        object-fit: cover;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #0005;
    }
    .fcf-btn {
        margin: 0;
        width: 100%;
    }
    .fcf-body {
        max-width: 80%;
    }
}
